{% extends 'base.html.twig' %}

{% block title %}
    Account
    |
    {{ parent() }}
{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {# {% if app.user %}
        <div class="user-welcome">
            <h2>Welcome !</h2>
            <div class="user-profile">
                <div class="user-picture">
                    <img src="{{ app.user.picture }}" alt="" class="img-fluid">
                </div> 
                <div class="user-pres">
                    <p>You are logged in as </p>
                    <div>{{ app.user.userName }}</div> 
                </div>                 
            </div>
            <a class="btn btn-danger " href="{{ path('app_logout') }}">Logout</a>
            {{ include('user/index.html.twig') }}
        </div>
        <div class="row table-header">
            <h3>Your Articles :</h3>
            <a class="btn btn-success" href="{{ path('article_new') }}">Create new</a>
        </div>
        {{ include('article/index.html.twig') }}
        <div class="row table-header">
            <h3>Your Comments :</h3>
        </div>
        {{ include('comment/index.html.twig') }}

        {% else %} #}
        <div class="login-form">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <div class="row signIn-group">
                <button class="base-btn green-btn" type="submit">
                    Sign in
                </button>
                <p>
                    No Account ? <a class="" href="{{ path('app_register') }}">Register Now</a>
                </p>
            </div>
        </div>

    {# {% endif %} #}
</form>
{% endblock %}
