{% extends 'base.html.twig' %}

{% block title %}
  {{ "User Account" }}
  |
  {{ parent() }}
{% endblock %}

{% block body %}
<div class="user-welcome">
            <h2>Welcome !</h2>
            <div class="user-profile">
                <div class="user-picture">
                    <img src="{{ app.user.userPicture }}" alt="" class="img-fluid">
                </div>
                <div class="user-pres">
                    <p>You are logged in as </p>
                    <div>{{ app.user.userName }}</div> 
                </div>
                <a class="base-btn blue-btn edit-btn" href="{{ path('app_user_edit', {'id': user.id}) }}">Modify account</a>              
            </div>
            <a class="base-btn red-btn" href="{{ path('app_logout') }}">Logout</a>
        </div>
        <div class="row table-header">
            <h3>Your Reviews :</h3>
        </div>
        {{ include('comment/index.html.twig') }}
{% endblock %}
