{% extends 'base.html.twig' %}

{% block title %}
    {{ article.name }}
    |
    {{ parent() }}
{% endblock %}

{% block body %}
  <div class="article">
      <img class="article-img" src="{{ article.picture }}" alt="{{ article.name }}">
      <div class="article-body">
        <p class="article-name">
          {{ article.name }}
        </p>
        <p class="article-description">
          {{ article.description }}
        </p>
        <p class="article-price">
          {{ article.price / 100 }} €
        </p>
          {# <a href="{{ path('show_article', {'id': article.id}) }}" class="btn btn-primary">Lire</a> #}
      </div>
  </div>

  <div class="container">
            <h3>Comments :</h3>
            <div class="comment-post">
                {{ include('comment/_form.html.twig') }}
            </div>
            <div class="column comments-container">
            <ul>
                {% for comment in comments %}
                    <li class="bloc-comment">
                        <div class="user-profile">
                            <p>By : </p>                            
                            <div class="user-picture">
                                <img src="{{ comment.user.userPicture }}" alt="" class="img-fluid">
                            </div>
                            <div class="comment-owner">{{ comment.user.userName }}</div>
                        </div>
                        <div class="comment-content">
                            {{ comment.content }}
                        </div>
                        <div class="comment-date">Added : {{ comment.postDate|date('Y/m/d H:i:s') }}</div>
                    </li>
                {% endfor %}
            </ul>
            </div>
        </div>
        
{% endblock %}
